<div class="panel_top">
	<h2 class="settings_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SETTINGS_TAB'}"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SENDERS_COUNT'}"></span>
				<input type="text" class="value input" data-bind="value: numberOfSendersToDisplay" style="width: 35px;" />
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SEARCH_PERIOD'}"></span>
				<select class="value input"
						data-bind="options: searchPeriodValues, value: searchPeriod, optionsText: 'label',
						optionsValue: 'value'" style="width: 200px;"
				></select>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SEARCH_IN'}"></span>
				<select class="value input"
						data-bind="options: searchFoldersValues, value: searchFolders, optionsText: 'label',
						optionsValue: 'value'" style="width: 200px;"
				></select>
			</div>
		</div>
		<div class="buttons">
			<span class="button" data-bind="click: save, visible: !isSaving(), i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
			<span class="button" data-bind="visible: isSaving(), i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
		</div>
	</div>
</div>
